.felso {
    width: 90%;
    height: 200px;
    background-color: #2f2f2f;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    border: 1px solid #6d4cc9;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
}

.felso h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0 8px #6d4cc9;
}

.felso p {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 0 8px #6d4cc9;
}

.asd {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.main {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    border: 1px solid #6d4cc9;
    border-radius: 15px;
    padding: 50px;
}

/* --- MAIN LAYOUT --- */
.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
}

/* --- STICKMAN BASE --- */
.stickman {
    position: relative;
    width: 130px;
    height: 250px;
    animation: liftBody 2s ease-in-out infinite;
}

/* Head */
.head {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 0 auto;
    background: transparent;
}

/* Body */
.body {
    width: 3px;
    height: 100px;
    background-color: #fff;
    margin: 0 auto;
}

/* --- ARMS --- */
.arm {
    position: absolute;
    width: 3px;
    height: 50px;
    background-color: #fff;
    transform-origin: top;
}

.arm.left {
    left: 50px;
    top: 80px;
    transform: rotate(20deg);
}

.arm.right {
    right: 50px;
    top: 80px;
    transform: rotate(-10deg);
}

/* LOWER ARMS (FOREARMS) */
.forearm {
    position: absolute;
    width: 3px;
    height: 45px;
    background-color: #fff;
    transform-origin: top;
    top: 120px;
}

.forearm.left {
    left: 30px;
    margin-top: 10px;
    transform: rotate(-20deg);
    animation: curlLeft 2s ease-in-out infinite;
}

.forearm.right {
    right: 40px;
    margin-top: 10px;
    transform: rotate(-20deg);
    animation: curlRight 2s ease-in-out infinite;
}

/* --- LEGS --- */
.leg {
    position: absolute;
    width: 3px;
    height: 100px;
    background-color: #fff;
    bottom: 0;
    transform-origin: top;
}

.leg.left {
    left: 60px;
    bottom: -30px;
    transform: rotate(10deg);
}

.leg.right {
    right: 60px;
    bottom: -30px;
    transform: rotate(-10deg);
}

/* --- BARBELL --- */
.barbell {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    animation: barCurl 2s ease-in-out infinite;
}

.bar {
    width: 100px;
    height: 8px;
    background-color: #6d4cc9;
    border-radius: 2px;
}

.weight {
    width: 15px;
    height: 40px;
    background-color: #6d4cc9;
    border-radius: 2px;
}

.weight.left {
    margin-right: 3px;
}

.weight.right {
    margin-left: 3px;
}

/* Body bobs up and down slightly */
@keyframes liftBody {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Forearm curls */
@keyframes curlLeft {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-100deg);
    }
}

@keyframes curlRight {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-100deg);
    }
}

/* Barbell follows arms */
@keyframes barCurl {
    0%, 100% {
        transform: translate(-80px, 0);
    }
    50% {
        transform: translate(-60px, -40px);        
    }
}