body {
    background-color: #1f1f1f;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #f2f2f2;
}

nav {
    width: 88.5%;
    margin: 20px auto;
    background: #2b2b2b;
    border-radius: 12px;
    padding: 1px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin: 0 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#menu ul li a {
    text-decoration: none;
    color: #b8a9d9;
    border: 1px solid #6d4cc9;
    padding: 10px 16px;
    border-radius: 15px;
    font-weight: 600;
    transition: 0.3s ease;
    background-color: #333;

}

#menu ul li a:hover {
    background-color: #6d4cc9;
    color: #fff;
    box-shadow: 0 0 10px #6d4cc9;
}


h2,
h3 {
    margin-bottom: 10px;
}

select,
button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #6d4cc9;
    background: #1c1c1c;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

button {
    cursor: pointer;
    background: #6d4cc9;
}

button:hover {
    background: #8662ff;
}


.main {
    background-color: #2b2b2b;
    border-radius: 8px;
    border: 1px solid #6d4cc9;
    padding: 50px;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    height: auto;
    width: 800px;
}

header {
    width: 90%;
    background-color: #2f2f2f;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    border: 1px solid #6d4cc9;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    margin: 30px auto;
}

footer {
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    color: #a8a8a8;
    background-color: #262626;
    border-top: 1px solid #3d3d3d;
    border-radius: 8px;
    width: 88.5%;
    margin: 30px auto 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

article {
    margin-top: 20px;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #6d4cc9;
    border-radius: 8px;
    width: 1000px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;      
    margin-top: 40px;
}

.main {
    display: flex;
    justify-content: center;   /* form középre */
    align-items: center;
    width: 100%;
}

.form-box {
    background: #222;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
    border: 1px solid #6d4cc9;
    width: 380px;              /* fix méret */
}
