body {
    background-color: #1f1f1f;
    font-family: "Poppins", sans-serif;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
}

nav {
    width: 88.5%;
    margin: 20px auto;
    background: #2b2b2b;
    border-radius: 12px;
    padding: 1px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin: 0 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#menu ul li a {
    text-decoration: none;
    color: #b8a9d9;
    border: 1px solid #6d4cc9;
    padding: 10px 16px;
    border-radius: 15px;
    font-weight: 600;
    transition: 0.3s ease;
    background-color: #333;

}

#menu ul li a:hover {
    background-color: #6d4cc9;
    color: #fff;
    box-shadow: 0 0 10px #6d4cc9;
}

.container,
section,
header {
    box-sizing: border-box;
}

.felso {
    width: 90%;
    height: 200px;
    background-color: #2f2f2f;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    border: 1px solid #6d4cc9;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    margin: 30px auto;
}

.felso h1 {
    color: white;
    text-shadow: 0 0 8px #6d4cc9;
}

.felso p {
    color: white;
    text-shadow: 0 0 8px #6d4cc9;
}

.felso {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
}

section {
    background-color: #2f2f2f;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    border: 1px solid #6d4cc9;
    width: 1100px;
    margin: 30px auto;
    padding: 30px;
}

footer {
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    color: #a8a8a8;
    background-color: #262626;
    border-top: 1px solid #3d3d3d;
    border-radius: 8px;
    width: 88.5%;
    margin: 0 auto 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
}

#felso-sor {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 10px 10px 30px 10px;
}

#also-sor {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}

img {
    border-radius: 10px;
}

article {
    background-color: #383838;
    border-radius: 10px;
    ;
    padding: 20px;
}

h2 {
    border: 1px solid #6d4cc9;
    border-radius: 10px;
    padding: 5px;
    background-color: #2b2b2b;
}

article ul li {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 5px 0 5px 0;
    color: #fff;
    text-shadow: 0 0 15px #6d4cc9;
}

article:hover ul {
    display: block;
}

article ul {
    display: none;
    margin-top: 10px;
    padding-left: 20px;
    ;
    border-radius: 5px;
}

section h1 {
    color: white;
    text-shadow: 0 0 10px #6d4cc9;
    background-color: #262626;
    border-top: 1px solid #3d3d3d;
    border-radius: 8px;
    width: 95%;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: #6d4cc9;
    color: #111;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    margin-bottom: 50px;
}

button:hover {
    background-color: #6d4cc9;
    color: #fff;
    box-shadow: 0 0 10px #6d4cc9;
    transform: scale(1.05);
}