.felso {
    width: 90%;
    height: 150px;
    background-color: #2f2f2f;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    border: 1px solid #6d4cc9;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    margin: 30px auto;
}

.felso h1 {
    color: white;
    text-shadow: 0 0 8px #6d4cc9;
}

.gallery {
    width: 100%;
}

.gallery img {
    width: 270px;
    height: 230px;
    border: 1px solid white;
    transition: opacity 300ms ease-in-out;
    opacity: 0.7;
    object-fit: cover;          
    object-position: center;
    border-radius: 5px;
}

.gallery img:hover {
    border: 1px solid #6d4cc9;
    opacity: 1.0;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}


a img {
    padding: 3px;
}

.caption {
    display: block;
    font-style: italic;
    font-style: 0.9em;
    background-color: #3a3a3a;
    padding: 5px;
    border-radius: 0 0 8px 8px;
    color: white;
    text-shadow: 0 0 8px #6d4cc9;
    text-align: center;
}

section {
    width: 1500px;
    height: 1350px;
}

article {
    width: 70%;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

