.edzos-row {
  background: #111;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 12px 0;
  letter-spacing: 1px;
  border-top: 3px solid #6d4cc9;
  border-bottom: 3px solid #6d4cc9;
  word-spacing: 5px;
}

.felso {
  width: 90%;
  height: 150px;
  background-color: #2f2f2f;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  border: 1px solid #6d4cc9;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  margin: 30px auto;
}

.felso h1 {
  color: white;
  text-shadow: 0 0 8px #6d4cc9;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
}

section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.felso_video iframe {
  width: 100%;
  justify-content: center;
  height: 450px;
  border-radius: 12px;
}

.also_videok {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.also_videok figure {
    width: 420px;
    text-align: center;
}

.also_videok iframe {
    width: 100%;
    height: 240px;
    border-radius: 12px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #222;
  margin-top: 50px;
}


@media (max-width: 700px) {
  .also_videok iframe {
    width: 100%;
  }
}

.caption {
  display: block;
  font-style: italic;
  font-style: 0.9em;
  background-color: #3a3a3a;
  padding: 5px;
  border-radius: 0 0 8px 8px;
  color: white;
  text-shadow: 0 0 8px #6d4cc9;
  text-align: center;
}

.also_caption {
  display: block;
  font-style: italic;
  font-style: 0.9em;
  background-color: #3a3a3a;
  padding: 5px;
  border-radius: 0 0 8px 8px;
  color: white;
  text-shadow: 0 0 8px #6d4cc9;
  text-align: center;
}

.vonal 
{
  width: 100%;
  height: 4px;
  background-color: #6d4cc9;
  border-radius: 15px;
}


