body {
    background-color: #1f1f1f;
    font-family: "Poppins", sans-serif;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container, .rendezes, section, header, .also {
    box-sizing: border-box;
}


nav {
    width: 88.5%;
    margin: 20px auto;
    background: #2b2b2b;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin: 0 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#menu ul li a {
    text-decoration: none;
    color: #b8a9d9;
    border: 1px solid #6d4cc9;
    padding: 10px 16px;
    border-radius: 15px;
    font-weight: 600;
    transition: 0.3s ease;
    background-color: #333;
    
}

.banner {
    background-image: url(../images/banner.png);
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #6d4cc9;
    border-radius: 15px;
}

.kiskep {
    width: 500px;
    height: 250px;
    margin: 20px 50px 20px 0;
    background-image:url(../images/kiskep.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #6d4cc9;
    border-radius: 15px;
    margin-bottom: 50px;
}

#menu ul li a:hover {
    background-color: #6d4cc9;
    color: #fff;
    box-shadow: 0 0 10px #6d4cc9;
}

header {
    width: 1200px;              
    margin: 20px auto;          
    border-radius: 8px;
    overflow: hidden;

}

/* Banner wrapper */
.banner {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 8px;
}


.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;          
    object-position: center;
    display: block;
}


.cim {
    position: absolute;
    bottom: 25px;
    left: 30px;
    color: white;
    z-index: 2;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

.cim h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 700;
}

.cim h3 {
    margin: 5px 0 0;
    font-size: 1.1em;
    color: #d0b8ff;
}



section {
    width: 1200px;
    margin: 0 auto 30px;
    padding: 20px;
    background-color: #2f2f2f;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}


h2 {
    font-size: 1.6em;
    color: #b8a9d9;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid #6d4cc9;
    padding: 10px;
    border-radius: 8px;
    background-color: #3a3a3a;
}

.tudn {
    margin-right: 70px;
}




.rendezes {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto 30px;
}


.bal-oldal img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);

}

.bal-oldal {
    margin-left: 25px;
    width: 500px;
}


.szoveg {
    background-color: #383838;
    border-radius: 10px;
    padding: 40px;
    height: 385px;
    width: 510px;
    margin-right: 50px;
    overflow-y: scroll;
    line-height: 1.6;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

.bemutatkozas {
    background-color: #383838;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
}


.szoveg::-webkit-scrollbar {
    width: 8px;
}
.szoveg::-webkit-scrollbar-track {
    background: #2f2f2f;
    border-radius: 8px;
}
.szoveg::-webkit-scrollbar-thumb {
    background: #6d4cc9;
    border-radius: 8px;
}
.szoveg::-webkit-scrollbar-thumb:hover {
    background: #8a69ff;
}


.also {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto 20px;
    gap: 20px;
    margin-bottom: 30px;
}

.also div {
    background-color: #2f2f2f;
    width: 500px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}


ul {
    margin: 0;
    padding-left: 25px;
}

ul li a {
    color: #b8a9d9;
    text-decoration: none;
    transition: 0.2s;
}

ul li a:hover {
    color: #fff;
    text-shadow: 0 0 6px #6d4cc9;
}


footer {
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    color: #a8a8a8;
    background-color: #262626;
    border-top: 1px solid #3d3d3d;
    border-radius: 8px;
    width: 88.5%;
    margin: 0 auto 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.container {
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.szolg {
    margin-right: 40px;
    background-color: #33333333;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    padding: 20px;
}

.part {
    background-color: #33333333;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    padding: 20px;
}

.szolg li {
    margin-top: 10px;
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.part li {
    margin-top: 10px;
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}