body {
    background-color: #353839;
}

nav {
    border: 1px rgb(92, 88, 88) solid;
    height: auto;
    width: 88.5%;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
    background-color: rgba(92,88,88,0.75);
}


#menu li {
    list-style-type: none;
    display: inline;   

}

#menu ul li a 
{
    text-decoration: none;
    color: white;
    border: solid 1px white;
    padding: 3px;
    padding: 8px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    
}

.container {
    width: 1200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}


header {
    float: left;
    height: 320px;
    border: 1px white solid;
    width: 85%;
    margin: 20px 0 20px 0;
    border-radius: 8px;
    padding: 20px;
    background-image:url(../images/banner.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(92,88,88,0.75);
    height: 600px;
    width: 85%;
    border-radius: 8px;
    padding: 20px;
    gap: 20px;
    margin-bottom: 20px;
}

.banner {
    float: left;
    margin-top: 180px;
    margin-left: 20px;
}

.kiskep {
    width: 487px;
    height: 250px;
    margin: 20px 50px 20px 0;
    background-image:url(../images/kiskep.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 1px white solid;
}



.bemutatkozas {
    height: 230px;
    width: 467px;
    margin: 10px 20px 20px 0;
    border-radius: 8px;
    padding: 10px;
    text-align: justify;
}

.szoveg {
    height: 390px;
    width: 425px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 30px;
    text-align: justify;
    text-indent: 5px;
    overflow-y: scroll;
}

.rendezes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bal-oldal {
    display: flex;
    flex-direction: column;
}

.jobb-oldal {
    display: flex;
    flex-direction: column;
}

.tudn {
    margin-top: 20px;
    color: #663399;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: #353839;
    border-radius: 20px;
    margin-left: 30px;
}

.bemu {
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: #353839;
    border-radius: 20px;
    color: #663399;
    margin-right: 50px;
}

li {
    font-size: 118%;
    color: white;
}


h1, h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

p {
    font-size: larger;
    color: white;
}

#menu ul li a:hover {
    background-color: lightgrey;
    color: #663399;
}

.rendezes {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 1200px;
}

.also {
    display: flex;
}


.szolg {
    float: left;
    height: 300px;
    width: 470px;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    background-color: rgba(92,88,88,0.75);
}

.part {
    float: left;
    background-color: rgba(92,88,88,0.75);
    height: 300px;
    width: 470px;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

footer {
    float: left;
    background-color: rgba(92,88,88,0.75);
    width: 87%;
    height: 45px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

footer h3 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 95%;
}

.szolgalt {
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: #353839;
    border-radius: 20px;
    color: #663399;
    margin: 0 10px 20px 10px;
}

.partne {
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: #353839;
    border-radius: 20px;
    color: #663399;
    margin: 0 10px 20px 10px;
}