.gym-table-container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    overflow-x: auto;
    background: #1f1f1f;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    color: white;
}

.gym-table-container h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 26px;
    color: #f2f2f2;
}

.gym-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}

.gym-table th, .gym-table td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #444;
}

.gym-table th {
    background: #6d4cc9;
    color: white;
    font-size: 18px;
}

.gym-table tr:hover {
    background: #2c2c2c;
    transition: 0.2s;
}



header {
    width: 1200px;              
    margin: 20px auto;          
    border-radius: 8px;
    overflow: hidden;
}

.felso {
    width: 90%;
    height: 140px;
    background-color: #2f2f2f;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    border: 1px solid #6d4cc9;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
}

.kep1 {
    background-image: url(../images/table.png);
    width: 98.5%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #6d4cc9;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
}